In [1]:
import pandas as pd 
import re 
from selenium import webdriver 
import selenium.webdriver.common.keys 
from selenium.webdriver.common.by import By
import html5lib
import numpy as np

In [2]:
browser = webdriver.Chrome("chromedriver.exe")
browser.get("https://www.linkedin.com")

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_21452/4233002437.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome("chromedriver.exe")

In [3]:
username = browser.find_element(by='id',value="session_key")
username.send_keys("abhishekdesai.ele18@gmail.com")
password = browser.find_element(by='id',value="session_password")
password.send_keys("")

In [4]:
login_button = browser.find_element(By.CLASS_NAME,value="sign-in-form__submit-button")
login_button.click()

In [5]:
type(login_button)

selenium.webdriver.remote.webelement.WebElement

In [6]:
browser.get("https://www.linkedin.com/jobs/collections")

In [56]:
designation = browser.find_elements(By.CLASS_NAME,value='job-card-list__title')
a=[]
for i in designation:
    a.append(i.text)
print(a)
print()
print(len(a))

['Retention Marketing Manager', 'IFS - Marketing Services- Performance Communications-Data Engineer - M1', 'Deloitte India (Offices of the US) - Consulting - SAP PP', 'Operations Associate', 'New Associate-Inside Sales', 'BA - Analytics-ANA005657', 'Consulting Analyst - General Business', 'Document Specialist', 'Assistant Manager Ops (Pharma Forecasting)', "Asst. Manager - Founder's Office", 'Regional Marketing Program Manager', 'Marketing Automation Analyst', 'Campaign Consultant', 'Technical Marketing Engineer', 'Application specialist-India', 'Associate - Technology Consulting', 'Social Media Marketing part time job/internship at Mumbai in PeepingMoon', 'Asst. Manager/ Dy. Manager - Financial Planning & Analyst', 'Area Manager']

19

In [57]:
location = browser.find_elements(By.CLASS_NAME,value="job-card-container__metadata-item")
b=[]
for i in location:
    b.append(i.text)
    
print(b)
print()
print(len(b))

['Kondapur, Telangana, India', 'On-site', 'Bengaluru, Karnataka, India', 'On-site', 'Chennai, Tamil Nadu, India', 'On-site', 'Vadodara, Gujarat, India', 'On-site', 'Gurgaon, Haryana, India', 'On-site', 'Bengaluru, Karnataka, India', 'On-site', 'Mumbai, Maharashtra, India', 'On-site', 'Kochi, Kerala, India', 'Bengaluru, Karnataka, India', 'On-site', 'Bengaluru, Karnataka, India', 'Hybrid', 'Bangalore Urban, Karnataka, India', 'On-site', 'Hyderabad, Telangana, India', 'Hyderabad, Telangana, India', 'On-site', 'Chennai, Tamil Nadu, India', 'On-site', 'Hyderabad, Telangana, India', 'Hybrid', 'Kolkata, West Bengal, India', 'On-site', 'Mumbai, Maharashtra, India', 'On-site', 'Banjara Hills, Telangana, India', 'On-site', 'Kolhapur, Maharashtra, India', 'On-site']

36

In [58]:
c=[]
for i in b:
    if i!='On-site' and i!='Remote' and i!='Hybrid':
        c.append(i)
    else:
        pass
print(c)
print()
print(len(c))

['Kondapur, Telangana, India', 'Bengaluru, Karnataka, India', 'Chennai, Tamil Nadu, India', 'Vadodara, Gujarat, India', 'Gurgaon, Haryana, India', 'Bengaluru, Karnataka, India', 'Mumbai, Maharashtra, India', 'Kochi, Kerala, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bangalore Urban, Karnataka, India', 'Hyderabad, Telangana, India', 'Hyderabad, Telangana, India', 'Chennai, Tamil Nadu, India', 'Hyderabad, Telangana, India', 'Kolkata, West Bengal, India', 'Mumbai, Maharashtra, India', 'Banjara Hills, Telangana, India', 'Kolhapur, Maharashtra, India']

19

In [59]:
company = browser.find_elements(By.CLASS_NAME,value="job-card-container__company-name")
d=[]
for i in company:
    d.append(i.text)
    
print(d)
print()
print(len(d))

['Nobero', 'PwC', 'Deloitte', 'Wolters Kluwer', 'Accenture in India', 'Genpact', "Lloyd's Register", 'EY', 'WNS', 'Thence: Digital Product Design & Engineering', 'Armstrong Fluid Technology', 'CyberArk', 'Inclusive Minds', 'Pyrotech Electronics Unit 2 Udaipur', 'Snibe', 'PwC India', 'PeepingMoon', 'NSL Group', 'AB InBev']

19

In [60]:
# c1 = browser.find_element(By.XPATH,'//*[@id="ember26"]/div[2]/div[1]/div[1]/div[2]/div/div/div[1]')
# c1.click()
# for i in range(c1):
#     industry = browser.find_elements(By.CLASS_NAME,value="org-top-card-summary-info-list__info-item")
#     q=[]
#     for j in industry:
#         q.append(j.text)

# print(q)

In [61]:
# type(c1)

In [62]:
involvement = browser.find_elements(By.XPATH,'//*[@id="main"]/div/section[2]/div/div[2]/div[1]/div/div[1]/div/div[1]/div[1]/div[2]/ul/li[1]/span')
e=[]
for i in involvement:
    e.append(i.text)

print(e)
print()
print(len(e))

['Full-time']

1

In [63]:
no_applicant = browser.find_elements(By.CLASS_NAME,value="jobs-unified-top-card__applicant-count")
f=[]
for i in no_applicant:
    f.append(i.text)
    
print(f)
print()
print(len(f))

['22 applicants']

1

In [64]:
# from bs4 import BeautifulSoup
# import requests
# response=requests.get("https://www.linkedin.com/jobs/collections")
# soup=BeautifulSoup(response.content)
# spans=soup.find_all(By.XPATH,'//*[@id="main"]/div/section[2]/div/div[2]/div[1]/div/div[1]/div/div[1]/div[1]/div[2]/ul/li[1]/span')
# for span in spans:
#   print(span.text)

In [65]:
df = pd.DataFrame({"comapanyname":d , "designation":a , "location":c})

In [66]:
df

,comapanyname,designation,location
0,Nobero,Retention Marketing Manager,"Kondapur, Telangana, India"
1,PwC,IFS - Marketing Services- Performance Communic...,"Bengaluru, Karnataka, India"
2,Deloitte,Deloitte India (Offices of the US) - Consultin...,"Chennai, Tamil Nadu, India"
3,Wolters Kluwer,Operations Associate,"Vadodara, Gujarat, India"
4,Accenture in India,New Associate-Inside Sales,"Gurgaon, Haryana, India"
5,Genpact,BA - Analytics-ANA005657,"Bengaluru, Karnataka, India"
6,Lloyd's Register,Consulting Analyst - General Business,"Mumbai, Maharashtra, India"
7,EY,Document Specialist,"Kochi, Kerala, India"
8,WNS,Assistant Manager Ops (Pharma Forecasting),"Bengaluru, Karnataka, India"
9,Thence: Digital Product Design & Engineering,Asst. Manager - Founder's Office,"Bengaluru, Karnataka, India"
10,Armstrong Fluid Technology,Regional Marketing Program Manager,"Bangalore Urban, Karnataka, India"
11,CyberArk,Marketing Automation Analyst,"Hyderabad, Telangana, India"
12,Inclusive Minds,Campaign Consultant,"Hyderabad, Telangana, India"
13,Pyrotech Electronics Unit 2 Udaipur,Technical Marketing Engineer,"Chennai, Tamil Nadu, India"
14,Snibe,Application specialist-India,"Hyderabad, Telangana, India"
15,PwC India,Associate - Technology Consulting,"Kolkata, West Bengal, India"
16,PeepingMoon,Social Media Marketing part time job/internshi...,"Mumbai, Maharashtra, India"
17,NSL Group,Asst. Manager/ Dy. Manager - Financial Plannin...,"Banjara Hills, Telangana, India"
18,AB InBev,Area Manager,"Kolhapur, Maharashtra, India"

In [67]:
df.to_csv("d16.csv")

In [3]:
No_of_followers = []
import random 
No_of_followers = random.sample(range(1000,150000),354)
print(No_of_followers)

[5939, 75848, 89287, 103445, 107609, 52901, 39961, 128294, 124945, 6336, 125311, 104697, 82397, 74414, 130483, 54525, 77420, 139801, 124500, 101080, 148028, 113958, 45031, 62384, 84994, 121728, 37137, 91540, 28163, 60722, 118580, 17220, 41534, 149972, 50870, 69293, 129277, 78008, 62647, 54641, 24134, 64809, 87841, 88742, 48944, 62290, 84678, 23623, 9067, 54496, 120569, 41587, 120003, 39059, 54958, 140636, 134490, 118036, 43051, 123143, 145435, 48680, 22030, 22995, 57830, 105192, 29591, 58442, 109018, 140848, 78932, 13646, 138077, 93075, 63950, 16180, 92104, 40736, 28995, 19418, 53988, 57457, 31386, 149435, 103568, 108107, 132589, 133349, 28697, 47023, 38990, 22582, 68123, 127451, 101780, 6570, 64014, 31682, 127805, 46479, 45336, 7494, 6030, 47332, 130208, 85050, 111894, 29875, 64340, 96342, 149277, 94751, 19624, 117573, 47642, 71248, 107775, 67195, 138823, 122221, 108319, 8476, 67679, 26591, 33528, 118076, 86354, 138314, 124281, 109793, 67398, 6399, 88008, 88783, 48325, 56049, 17075, 141977, 30531, 141129, 28614, 10668, 64994, 138827, 81536, 86202, 54123, 26067, 130151, 47938, 79214, 55646, 144265, 4472, 145875, 38012, 132898, 69109, 44776, 99866, 18754, 79964, 86845, 65914, 49262, 65921, 99646, 45523, 77788, 39384, 106535, 149457, 71736, 129483, 130790, 114858, 140673, 117347, 25088, 26367, 76084, 146452, 123889, 103802, 87533, 146312, 85118, 55927, 66429, 119978, 20456, 102864, 94343, 5852, 28779, 142318, 78164, 69066, 118877, 27414, 96907, 22308, 83452, 68651, 6910, 93967, 80677, 80757, 113541, 73289, 81144, 83841, 41661, 30471, 142466, 83092, 108999, 147648, 71262, 101431, 110508, 22101, 93143, 100017, 80203, 17433, 102084, 31451, 11039, 50811, 124591, 112362, 88478, 58727, 98936, 35991, 47214, 31061, 18425, 33532, 118812, 86415, 100313, 100751, 83034, 87942, 118506, 101693, 143338, 117638, 66717, 30012, 131035, 61870, 146023, 6069, 135510, 123941, 132281, 99555, 120348, 120090, 94983, 5057, 10094, 115901, 118891, 149676, 101861, 100491, 65741, 82907, 142829, 71984, 12801, 27377, 80315, 24701, 37387, 48263, 31533, 70152, 128577, 89738, 129566, 94022, 140467, 141569, 105406, 4347, 61608, 19693, 47625, 58958, 135237, 95799, 12653, 136829, 58574, 8090, 120323, 17963, 38050, 92678, 2740, 42697, 100753, 52701, 5921, 85950, 98911, 113099, 91338, 78036, 144208, 109886, 126557, 126375, 27747, 43504, 12612, 74875, 65170, 142760, 145816, 142508, 107746, 50473, 135424, 127269, 53098, 43060, 71762, 146411, 82214, 23260, 42425, 59046, 88485, 80384, 64575, 28351, 106205, 3188, 73502, 52851, 19385, 80321, 57108, 112579, 140059, 44267, 28250, 148284]

In [5]:
No_of_emp = []
import random 
No_of_emp = random.sample(range(50,5000),354)
print(No_of_emp)

[2659, 678, 4671, 4005, 4016, 980, 3085, 4518, 2856, 222, 1253, 4106, 1701, 2463, 1876, 4309, 3484, 1235, 1113, 2952, 1978, 4327, 4071, 4450, 4676, 807, 144, 4162, 503, 3165, 4174, 2260, 2186, 4827, 1080, 2139, 720, 2683, 1671, 4336, 601, 4356, 743, 3204, 4780, 3350, 4889, 2138, 1776, 1550, 251, 2667, 4458, 2578, 834, 3830, 4404, 1370, 1587, 3409, 1486, 4042, 1839, 78, 1686, 4370, 2295, 104, 401, 3486, 1233, 4127, 4951, 987, 1829, 3302, 1984, 1395, 985, 2187, 3430, 4430, 1778, 2235, 994, 4659, 2222, 2408, 4089, 3683, 2654, 2313, 4688, 882, 1755, 3073, 382, 70, 4836, 1913, 395, 2228, 855, 4508, 1450, 1987, 3473, 3879, 1985, 3136, 4893, 1651, 2635, 902, 2253, 4564, 1731, 2177, 754, 3684, 4792, 1399, 3761, 271, 4953, 3206, 4244, 4410, 2755, 1815, 4454, 2617, 4614, 2696, 3984, 2511, 3915, 3312, 3271, 4132, 2971, 4040, 3824, 4035, 4771, 1789, 1236, 1090, 3831, 3989, 151, 480, 4369, 1966, 2432, 273, 262, 644, 522, 883, 1753, 3184, 4758, 2022, 3666, 4752, 4729, 3024, 2086, 4646, 4346, 709, 1274, 2776, 3257, 631, 4633, 3432, 3526, 231, 2013, 2047, 3524, 759, 1097, 2586, 197, 3041, 2146, 1542, 2742, 3243, 1777, 528, 4310, 4266, 4645, 1246, 4180, 4422, 291, 1845, 3674, 459, 969, 911, 2720, 583, 250, 1168, 4182, 2140, 1165, 3149, 3153, 4917, 3734, 1885, 1835, 426, 3765, 4900, 2366, 4574, 3929, 4754, 956, 1826, 2676, 2824, 4785, 3564, 2325, 1900, 2944, 4767, 1228, 3040, 1068, 4474, 2624, 2898, 4668, 2203, 2407, 3539, 3812, 1574, 1608, 4710, 3311, 4390, 4188, 4728, 4960, 4271, 4808, 3003, 4599, 3087, 3491, 625, 3870, 1226, 3081, 4214, 590, 423, 3986, 760, 2422, 3749, 2788, 952, 3233, 1582, 4136, 1795, 3403, 4475, 1324, 479, 3237, 4929, 3043, 549, 2094, 4739, 3923, 1091, 2889, 1391, 849, 576, 1277, 4804, 1979, 4393, 2249, 2315, 2255, 1950, 1800, 107, 1151, 2854, 414, 993, 194, 1986, 3737, 2103, 695, 1296, 3451, 1247, 1207, 4723, 2062, 3264, 2993, 3842, 4158, 1177, 1206, 1884, 1727, 1500, 2327, 3501, 341, 4004, 279, 2638, 3955, 3189, 4237, 2504, 4992, 2087, 90, 3634, 555, 2744, 793, 3569, 4463, 4842, 296, 1563, 3994, 4274, 4329, 4735]

In [8]:
df1= pd.DataFrame(No_of_emp,columns=['No_of_emp'])
df1

     No_of_emp
0         2659
1          678
2         4671
3         4005
4         4016
..         ...
349       1563
350       3994
351       4274
352       4329
353       4735

[354 rows x 1 columns]

In [9]:
df2= pd.DataFrame(No_of_followers,columns=['No_of_followers'])
df2

     No_of_followers
0               5939
1              75848
2              89287
3             103445
4             107609
..               ...
349           112579
350           140059
351            44267
352            28250
353           148284

[354 rows x 1 columns]

In [12]:
f_df = df1.join(df2)

In [13]:
f_df

     No_of_emp  No_of_followers
0         2659             5939
1          678            75848
2         4671            89287
3         4005           103445
4         4016           107609
..         ...              ...
349       1563           112579
350       3994           140059
351       4274            44267
352       4329            28250
353       4735           148284

[354 rows x 2 columns]

In [14]:
f_df.to_csv("com.csv")